.App{
  margin-top: 4vh;
  margin-left: 4vw;
  margin-right: 4vw;
}


.ListOfSupportedFormats{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  margin-bottom: 2vh;
}

.AddExcelButton{
  margin-bottom: 2vh;
}

.result{
  margin-top: 6vh;
  margin-left: 1vh;
}

.RenderListOfArrays{
  margin-top: 8vh;
}

.result-dateInfo{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2vh;
}